 <div class="user-details">
 <h3>
  <div class="images-center">
    <img src="/assets/img/Icon-Rounded-1024.png" width="150" />
  </div>
  <p> {{site.user_description}} </p>
  </h3>
</dic>

    <div class="section">
        <div class="carousel-container">
            <div class="phone-container">
                <div class="phone">
                    <div class="phone__screen"></div>
                    <div class="phone__notch"></div>
                </div>
            </div>
            <div class="carousel">
                <div>
                    <div class="carousel__item"><img class="carousel__img" src="https://madewithover.com/images/content/carousel-template-1.png" width="380" height="812" alt=""></div>
                </div>
                <div>
                    <div class="carousel__item"><img class="carousel__img" src="https://madewithover.com/images/content/carousel-template-6.gif" width="380" height="812" alt=""></div>
                </div>
                <div>
                    <div class="carousel__item"><img class="carousel__img" src="https://madewithover.com/images/content/carousel-template-2.png" width="380" height="812" alt=""></div>
                </div>
                <div>
                    <div class="carousel__item"><img class="carousel__img" src="https://madewithover.com/images/content/carousel-template-5.gif" width="380" height="812" alt=""></div>
                </div>
                <div>
                    <div class="carousel__item"><img class="carousel__img" src="https://madewithover.com/images/content/carousel-template-3.png" width="380" height="812" alt=""></div>
                </div>
                <div>
                    <div class="carousel__item"><img class="carousel__img" src="https://madewithover.com/images/content/carousel-template-4.png" width="380" height="812" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    </div>