<footer class="footer">
    <p>All Rights Reserved. &copy; 2018 {{site.username}}</p>
    <p><a href="mailto:{{ site.email_username }}?subject=Still%20Followers%20for%20Instagram%20Support">Support</a> | <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a> | <a href="https://instagram.com/{{ site.instagram_username }}">Instagram</a> | <a href="https://www.bobgoo.com/privacy">Privacy</a></p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include analytics.html %}
{% include consent.html %}