<div class="user-details">
  <h1>My Work</h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <a href="https://friends.bobgoo.com"><img alt="HAVE YOU EVER WONDERED WHO DELETED YOU ON FACEBOOK?" src="{{ "https://friends.bobgoo.com/img/FBBanner.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3><a href="https://friends.bobgoo.com"> Still Friends for Facebook </a></h3>
	<p>HAVE YOU EVER WONDERED WHO DELETED YOU ON FACEBOOK?</p>
	<p>Still Friends will find who unfriended you on Facebook!</p>
	<p>WHOEVER DELETES YOU, WE WILL FIND THEM! <a href="https://friends.bobgoo.com">More...</a></p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://follows.bobgoo.com"><img alt="HAVE YOU EVER WONDERED HOW TO GROW YOUR FOLLOWERS ON TWITTER?" src="{{ "https://follows.bobgoo.com/img/FBBanner.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3><a href="https://follows.bobgoo.com"> Still Follows for Twitter </a></h3>
	<p>HAVE YOU EVER WONDERED HOW TO GROW YOUR FOLLOWERS ON TWITTER?</p>
	<p>Use Still Follows to manage your Twitter followers and unfollowers in order to achieve instant success!</p>
	<p>GROW ON TWITTER NOW! <a href="https://follows.bobgoo.com">More...</a></p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://bobzon.bobgoo.com"><img alt="DON'T MISS AN AMAZON PRICE DROP NEVER AGAIN!" src="{{ "https://bobzon.bobgoo.com/img/FBBanner.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3><a href="https://bobzon.bobgoo.com"> Bobzon for Amazon </a></h3>
	<p>DON'T MISS AN AMAZON PRICE DROP NEVER AGAIN!</p>
	<p>Track your favourite Amazon products and get alerted when your desired price is reached!</p>
	<p>SAVE MONEY IN THE EASY WAY! <a href="https://bobzon.bobgoo.com">More...</a></p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://safewebpro.bobgoo.com"><img alt="THE BEST WHITELIST INTERNET BROWSER FOR iOS" src="{{ "https://safewebpro.bobgoo.com/img/FBBanner.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3><a href="https://safewebpro.bobgoo.com"> Safe Web Pro </a></h3>
	<p>THE BEST WHITELIST INTERNET BROWSER FOR iOS</p>
	<p>Safe Web Pro is a must-have in order to control what your guest customers and employees browse.</p>
	<p>PROTECT YOUR BUSINESS NOW! <a href="https://safewebpro.bobgoo.com">More...</a></p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://safeweb.bobgoo.com"><img alt="DO YOU KNOW WHAT THEY BROWSE WITH YOUR iOS DEVICE?" src="{{ "https://safeweb.bobgoo.com/img/FBBanner.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3><a href="https://safeweb.bobgoo.com"> Safe Web for kids </a></h3>
	<p>DO YOU KNOW WHAT THEY BROWSE WITH YOUR iOS DEVICE?</p>
	<p>The average age at which your children first see adult content online is 11 and going down...</p>
	<p>PROTECT THEM NOW! <a href="https://safeweb.bobgoo.com">More...</a></p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://safespot.bobgoo.com"><img alt="mountains" src="{{ "https://safespot.bobgoo.com/img/FBBanner.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3><a href="https://safespot.bobgoo.com"> Safe Spot for kids </a></h3>
	<p>DO YOUR KNOW WHERE YOUR KIDS REALLY ARE?</p>
	<p>Until not using Safe Spot, the cheats on where they are will happen!</p>
	<p>PROTECT THEM NOW! <a href="https://safespot.bobgoo.com">More...</a></p>
  </div>
</div>
